.cart-info-container {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 250px;
    background-color: white;
    border: 1px solid #ddd;
    padding: 10px;
    z-index: 999;
}

.cart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.close-cart-button {
    background-color: #212427;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.cart-item-actions{
    display: flex;
    gap: 0.5rem;
}

.action{
    background-color: #212427;
    color: white;
    padding: 0.5rem;
    border-radius: 0.5rem;
}