.product-detail-container {
    display: flex;
    flex-direction: column;
    background-color: #ebedef;
    border-radius: 10px;
    padding: 20px;
    width: 50%;
    margin: auto;
    align-items: center;
    margin-top: 20px;
}

.product-detail-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.product-detail-author {
    margin-bottom: 10px;
}

.product-detail-date {
    margin-bottom: 10px;
}

.product-detail-content {
    margin-bottom: 10px;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
    gap: 10px;
}

.product-image {
    height: 7rem;
    display: block;
}

