.product-form-container {
    display: flex;
    flex-direction: column;
    background-color: #ebedef;
    border-radius: 10px;
    padding: 20px;
    width: 50%;
    margin: auto;
}

.product-form-title {
    margin-bottom: 10px;
    text-align: center;
    color: #9da5b1;
}

.product-form-input {
    width: 100%;
    border-radius: 5px;
    height: 40px;
    border: 1px solid lightgray;
    box-sizing: border-box;
    margin-bottom: 10px;
    text-align: center;
}

.product-form-textarea {
    width: 100%;
    border-radius: 5px;
    height: 80px;
    border: 1px solid lightgray;
    box-sizing: border-box;
    margin-bottom: 10px;
    text-align: center;
}

.product-form-button {
    width: 100%;
    border-radius: 5px;
    height: 40px;
    background-color: #212427;
    color: white;
    cursor: pointer;
    border: 1px solid transparent;
}

.product-form-subtitle{
    font-weight: 500;
    color: #212427;
}

.image-preview-container {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.image-preview {
    height: 7rem;
        display: block;
}
