.product-card {
    position: relative;
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    flex: 1 0 24%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.delete-icon {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    color: white;
}

.card-content {
    text-align: center;
}

.card-title {
    color: white;
}

.card-details {
    margin-top: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.view-details-link, .add-to-cart-button {
    background-color: #212427;
    color: white;
    padding: 8px 12px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    border: 1px solid transparent;
}


.product-list-container {
    margin: 0 30px;
}

.product-list-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.product-card {
    position: relative;
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    flex: 1 0 24%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.delete-icon {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    color: white;
}

.card-content {
    text-align: center;
}

.card-title {
    color: white;
}

.card-details {
    margin-top: 10px;
    text-align: center;
}



.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.product-image {
    height: 7rem;
    display: block;
}

