.search-bar-container {
    display: flex;
    margin-bottom: 10px;
    margin: 0 30px;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.search-input {
    flex: 3;
    margin-right: 5px;
    border-radius: 5px;
    height: 40px;
    border: 1px solid lightgray;
    padding-left: 10px;
}

.search-button,
.sort-button,
.view-cart-button,
.new-product-button {
    flex: 1;
    border-radius: 5px;
    height: 40px;
    cursor: pointer;
    border: 1px solid transparent;
    margin-left: 5px;
}

.sort-button,
.view-cart-button {
    flex: 0.5;
    border-radius: 5px;
    height: 40px;
    cursor: pointer;
    border: 1px solid transparent;
    margin-left: 5px;
}

.search-button {
    background-color: #212427;
    color: white;
}

.new-product-button {
    background-color: #212427;
    color: white;
}

